.well {	border-left:4px solid #c63d0f;}
.introtitle {background:#c63d0f;}
.blogbox a.metablog:hover,.blogbox a.metablog:focus {	color: #c63d0f;}
.readmore,.reply {color:#c63d0f;}
.captionicons {	background:#c63d0f;}
#filter ul li .selected {color: #c63d0f !Important;}
.popular .vuzz-button.buttonprice {	background: #c63d0f;}
.popular .vuzz-button {background:#c63d0f;}
.vuzz-pricing-table>div.popular {border-top:#c63d0f 3px solid;}
.popular .vuzz-pricing-cost {background:#c63d0f;}
.popular .vuzz-pricing-per {	background:#c63d0f;}
.progressdefault {background-color:#c63d0f;}
.defaultbutton {	background:#c63d0f;}
.testimonial-name {	color:#c63d0f;}
a.prev:hover,a.next:hover {background-color: #c63d0f;}
.colorme {color:#c63d0f;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span {background:#c63d0f;}
blockquote {border-left:5px solid #c63d0f;}
.navbar-inverse .navbar-inner {border-bottom:#c63d0f solid 10px;}
.totop:hover {background:#c63d0f;color:#fff;}
::selection {background-color: #c63d0f; color: #fff;}