.well {	border-left:4px solid #69cfc6;}
.introtitle {background:#69cfc6;}
.blogbox a.metablog:hover,.blogbox a.metablog:focus {	color: #69cfc6;}
.readmore,.reply {color:#69cfc6;}
.captionicons {	background:#69cfc6;}
#filter ul li .selected {color: #69cfc6 !Important;}
.popular .vuzz-button.buttonprice {	background: #69cfc6;}
.popular .vuzz-button {background:#69cfc6;}
.vuzz-pricing-table>div.popular {border-top:#69cfc6 3px solid;}
.popular .vuzz-pricing-cost {background:#69cfc6;}
.popular .vuzz-pricing-per {	background:#69cfc6;}
.progressdefault {background-color:#69cfc6;}
.defaultbutton {	background:#69cfc6;}
.testimonial-name {	color:#69cfc6;}
a.prev:hover,a.next:hover {background-color: #69cfc6;}
.colorme {color:#69cfc6;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span {background:#69cfc6;}
blockquote {border-left:5px solid #69cfc6;}
.navbar-inverse .navbar-inner {border-bottom:#69cfc6 solid 10px;}
.totop:hover {background:#69cfc6;color:#fff;}
::selection {background-color: #69cfc6; color: #fff;}
