.well {	border-left:4px solid #b3d656;}
.introtitle {background:#b3d656;}
.blogbox a.metablog:hover,.blogbox a.metablog:focus {	color: #b3d656;}
.readmore,.reply {color:#b3d656;}
.captionicons {	background:#b3d656;}
#filter ul li .selected {color: #b3d656 !Important;}
.popular .vuzz-button.buttonprice {	background: #b3d656;}
.popular .vuzz-button {background:#b3d656;}
.vuzz-pricing-table>div.popular {border-top:#b3d656 3px solid;}
.popular .vuzz-pricing-cost {background:#b3d656;}
.popular .vuzz-pricing-per {	background:#b3d656;}
.progressdefault {background-color:#b3d656;}
.defaultbutton {	background:#b3d656;}
.testimonial-name {	color:#b3d656;}
a.prev:hover,a.next:hover {background-color: #b3d656;}
.colorme {color:#b3d656;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span {background:#b3d656;}
blockquote {border-left:5px solid #b3d656;}
.navbar-inverse .navbar-inner {border-bottom:#b3d656 solid 10px;}
.totop:hover {background:#b3d656;color:#fff;}
::selection {background-color: #b3d656; color: #fff;}
