.well {	border-left:4px solid #5e6860;}
.introtitle {background:#5e6860;}
.blogbox a.metablog:hover,.blogbox a.metablog:focus {	color: #5e6860;}
.readmore,.reply {color:#5e6860;}
.captionicons {	background:#5e6860;}
#filter ul li .selected {color: #5e6860 !Important;}
.popular .vuzz-button.buttonprice {	background: #5e6860;}
.popular .vuzz-button {background:#5e6860;}
.vuzz-pricing-table>div.popular {border-top:#5e6860 3px solid;}
.popular .vuzz-pricing-cost {background:#5e6860;}
.popular .vuzz-pricing-per {	background:#5e6860;}
.progressdefault {background-color:#5e6860;}
.defaultbutton {	background:#5e6860;}
.testimonial-name {	color:#5e6860;}
a.prev:hover,a.next:hover {background-color: #5e6860;}
.colorme {color:#5e6860;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span {background:#5e6860;}
blockquote {border-left:5px solid #5e6860;}
.navbar-inverse .navbar-inner {border-bottom:#5e6860 solid 10px;}
.totop:hover {background:#5e6860;color:#fff;}
::selection {background-color: #5e6860; color: #fff;}
